@font-face {
    font-family: Museo-300;
    src: url("fonts/exljbris - MuseoSansRounded-300.otf");
}

@font-face {
    font-family: Museo-500;
    src: url("fonts/exljbris - MuseoSansRounded-500.otf");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Museo-300';
  font-size: 14px;
  line-height: 1.6;
  color: black;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

header, footer {
  width: 100%;
}

header .container, header ul {
  margin: 0;
  padding: 0;
}

header a {
  color: inherit;
  text-decoration: none;
}

header a:hover{
  color: gray;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, a{
  font-family: 'museo-500';
  line-height: 1.5;
  margin-top: 17px;
  margin-bottom: 12.5px;
}
/*
a{
  font-weight: 900;
}

h5{
  font-size: 16px;
}
*/

a{
  color: #479946;
}
a:hover, input:hover, button:hover {
  color: #689968;
  text-decoration: underline;
  /*-webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;*/
}
a[class^="text-orange"]:hover{
  color: #fb4c06;
  text-decoration: none;
}
a[class^="text-green"]:hover{
  color: #689968;
  text-decoration: none;
}
input[type^="email"]:hover, input[type^="text"]:hover{
  color: black;
}
p{
  margin-top: 10px;
  margin-bottom: 10px;
}
strong{
  font-weight: 900;
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.after-nav {
  margin-top: 60px;
}

.align-middle{
  vertical-align: middle;
  display: table-cell;
}
.bg-black{
  background-color: #333333;
  color: white;
}
.bg-gray {
  background-color: #f3f4f7;
  color: #463d3d;
}

.bg-darkgray{
  background-color: gray;
  color: white;
}

.bg-sky {
  background-color: #3bb2f7;
  color: white;
}

.bg-blue {
  background-color: #5290d2;
  color: white;
}
.bg-darkwhite{
  background-color: #F5F6F9;
  color: black;
}
.bg-empty {
  background-color: black;
  opacity: 0;
  width: 100%;
}

.bg-green{
  background-color: #479946;
  color: white;
}

.bg-orange{
  background-color: #ff8900;
  color: white;
  border-color: 1px solid white;
}

.bg-transparent {
  background-color: #e2e2e2;
}

.bg-white{
  background-color: white;
  color: #333333;
}
.bg-mininav{
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}
.btn{
  white-space: pre-wrap;
}
.btn:hover{
  background-color: white;
}

.input{
  color: black;
  padding: 5px;
  font-size: 16px;
  width: 75%;
  min-width: 150px;
  max-width: 400px;
/*  line-height: 2.3;*/
  border-radius: 10px;
  margin: 0;
}
.btn-blue {
  background-color: #3bb2f7;
  color: white;
}
.btn-blue:hover{
  background-color: #52baf6;
  color: white;
}
.btn-darkblue{
  background-color: #6fb3c6;
  color: white;
}

.btn-border-green{
  background-color: white;
  color: #479946;
  border: 3px solid #479946;
  border-radius: 30px;
}
.btn-border-green:hover{
  background-color: #479946;
  color: white;
}
.btn-green{
  background-color: #479946;
  color: white;
  border: 3px solid #479946;
  border-radius: 30px;
}

.btn-green:hover{
  background-color: white;
  color: #479946;
  border: 3px solid #479946;
}
.btn-orange{
  background-color: #ff8900;
  color: white;
}

.btn-orange:hover{
  background-color: white;
  color: #ff8900;
}
.btn-orange-hover:hover{
  background-color: #f9a048;
  color: white;
}
.btn-secondary, .btn-secondary:active {
    background-color: inherit;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 700;
    color: #339933;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #339933;
}

.btn.active, .btn-secondary:hover {
    background-color: #339933;
    border-color: #339933;
    color: white;
}
.border-xs {
  background-color: white;
  border: 0px solid;
  box-shadow: 1px 1px lightgrey;
}
.border-s{
  border: 3px solid;
}
.border-padding{
  padding: 2.7px 11px 2.7px 11px;
}
.border-white{
  border-color: white;
}
.border-black{
  border-color: #333;
}
.border-green{
  border-color: #479946;
}
.border-radius{
  border-radius: 20px;
}
.border-top-radius{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.border-top-xs{
  border-top: 1px solid;
}
.border-bot-xs{
  border-bottom: 1px solid;
}
.d-block{
  display: block;
}
.d-inline{
  display: inline;
}
.d-inline-flex{
  display: inline-flex;
}
.d-inline-grid{
  display: inline-grid;
}
.d-table{
  display: table;
}
.d-table-cell{
  display: table-cell;
}
.container-custom {
  max-width: 850px;
  /* min-width: 450px; */
  margin-left: auto;
  margin-right: auto;
}

.container-nav {
  width: 1300px;
}
.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.error{
  color: #b31313;
  font-weight: bold;
}
.height-200{
  max-height: 200px;
}
.height-220{
  height: 220px;
}
.height-400{
  height: 400px;
}
.height-425{
  height: 425px;
}
.height-450{
  height: 450px;
}
.height-480{
  height: 480px;
}

.height-500{
  height: 500px;
}
.img-max{
  max-width: 250px;
  max-height: auto;
}
.img-responsive{
  width: 100%;
}
.icon-arrow-circle-green{
/*  background-image: url(/img/icon/icons_arrow-circle.png);*/
  background-image: linear-gradient(transparent, transparent), url(img/icon/icons_arrow-circle.svg);
  width: 21px;
  height: 21px;
  display: inline-block;
  vertical-align: sub;
  margin-left: 5px;
}
.icon{
  left: 0;
  position: absolute;
  width: 20px;
  height: 20px;
}
.icon-tick-circle{
  background-image: url(img/icon/tick-circle.svg);
}
.icon-green{
  background-position: center -60px;
}
.line-H-40px {
  line-height: 40px;
}
.line-h-0{
  line-height: 0.7;
}

.small-width {
  width: 75%;
  margin: auto;
  margin-top: 10px;
}

.margin-auto {
  margin: auto;
}

.margin-left-s{
  margin-left: 7px;
}
.margin-left-m{
  margin-left: 10px;
}
.margin-left-xl{
  margin-left: 35px;
}
.margin-y-auto{
  margin-top: auto;
  margin-bottom: auto;
}

.margin-bot{
  margin-bottom: 25px;
}
.margin-top-m{
  margin-top: 20px;
}
.map{
  margin-top: 20px;
  border: 12px solid white;
}
.map-s{
  width: 100%;
  height: 450px;
}
.map-m{
  width: 100%;
  height: 600px;
}

.mininav .active {
  border: 3px solid green;
  border-radius: 15px;
}
.navbar-custom {
  background-color: white;
  color: #ffffff;
  border-radius: 0;
}

.navbar-custom .nav>li>a {
  color: #479946;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar {
  margin: 0;
}

.navbar-custom .nav>.active>a {
  color: #333333;
  background-color: transparent;
}

.nav > li > a{
  padding: 5px 15px;
}

.navbar-custom .nav>li>a:hover, .navbar-custom .nav>li>a:focus, .navbar-custom .nav>.active>a:hover, .navbar-custom .nav>.active>a:focus, .navbar-custom .nav>.open>a {
  text-decoration: none;
  color: #333333;
  background-color: transparent;
}

.navbar-custom .navbar-brand {
  color: #e2e2e2;
  padding: 0;
}

.navbar-custom .navbar-toggle {
  background-color: #e2e2e2;
}

.navbar-custom .icon-bar {
  background-color: #479946;
}
.padding-xxs{
  padding: 5px;
}
.padding-xs{
  padding: 10px;
}
.padding-s{
  padding: 20px;
}
.padding-m{
  padding: 35px;
}
.padding-l{
  padding: 50px;
}
.padding-xl{
  padding:75px;
}
.padding-xxl{
  padding: 95px;
}
.padding-bot-xs{
  padding-bottom: 10px;
}
.padding-bot-s{
  padding-bottom: 15px;
}
.padding-bot-m {
  padding-bottom: 25px;
}
.padding-bot-l{
  padding-bottom: 55px;
}
.padding-bot-xl{
  padding-bottom: 75px;
}
.padding-bot-xxl{
  padding-bottom: 95px;
}


.padding-top{
  padding-top: 40px;
}
.padding-top-s{
  padding-top: 15px;
}

.padding-x-s{
  padding-left: 10px;
  padding-right: 10px;
}
.padding-x-m{
  padding-left: 15px;
  padding-right: 15px;
}
.padding-y-xxs{
  padding-top:2px;
  padding-bottom:2px;
}
.padding-y-xs{
  padding-top: 5px;
  padding-bottom: 5px;
}
.padding-y-s{
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-y-m{
  padding-top: 20px;
  padding-bottom: 20px;
}
.pos-fixed {
  position: fixed;
  z-index: -1;
  max-width: 1280px;
  left: 0;
  right: 0;
  top: 95px;
  margin: auto;
}

.text-xxl{
  font-size: 6.25rem;
}
.text-xl{
  font-size: 36px;
}
.text-l{
  font-size: 26px;
}
.text-m{
  font-size: 22px;
}
.text-s{
  font-size: 16px;
}
.text-xs{
  font-size: 14px;
}
.text-xxs{
  font-size: 12px;
}
.text-blue {
  color: #3bb2f7;
}
.text-blue-hover:hover{
  color: #2e8bc2;
}
.text-orange {
  color: #ff8900;
}
.text-orange-hover:hover {
  color: #f9a048;
}
.text-green{
  color: #479946;
}
.text-green:hover{
  color:#679b67;
}
.text-bold {
  font-weight: 900;
}

.text-darkblue{
  color: #6fb3c6;
}

.text-large {
  font-weight: 900;
}

.text-inherit{
  color: inherit;
  font: inherit;
}

.text-white {
  color: white;
}

.text-16{
  font-size: 16px;
}
/*
#helpSec a:hover{
  text-decoration: none;
  color: #3bb2f7;
}*/


/*
#empoweringSec a:hover{
  text-decoration: none;
  color: #e2e2e2;
}*/
.select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url(img/icon/select-arrow.svg) right center no-repeat;
  cursor: pointer;
  font-family: "museo-300";
  font-weight: 300;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  border-radius: 0.5rem;
  display: block;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  padding: 12px;
  padding: 0.75rem;
  position: relative;
  outline: 0;
  width: 100%;
  vertical-align: middle;
}
.social-links a {
  color: white;
  display: inline-block;
}
.social-links i{
  text-decoration: none;
  height: 50px;
  width: 50px;
  line-height: 1.7;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  background-color: white;
}
.social-links-m i{
  height: 45px;
  width: 45px;
  line-height: 1.8;
  font-size: 25px;
  border: 1px solid white;
}
.social-links a:hover {
  text-decoration: none;
}

.social-links .custom-size{
  height: 30px;
  width: 30px;
  line-height: 1.7;
  font-size: 18px;
}
.social-hover:hover{
  background-color: white;
  color: #479946;
  text-decoration: none;
}
.social-black-hover:hover{
  background-color: #333333;
  color: white;
  border: 1px solid white;
  text-decoration: none;
}
/*
.fa-facebook:hover{
  background-color: #1d84bb;
}
.fa-instagram:hover{
  background-color: #d23f4f;
}
.fa-linkedin:hover{
  background-color: #1982ba;
}
.fa-twitter:hover{
  background-color: #1da1f2;
}
*/
.ul-custom{
  width: 200px;
}

.v-bottom {
  position: absolute;
  bottom: 20px;
  /* right: 0; */
  left: 27%;
  max-width: 145px;
}

.width-500{
  max-width: 500px;
}
.width-600{
  max-width: 600px;
}
.width-700{
  max-width: 700px;
}
.width-950{
  max-width: 950px;
}
.width-1100{
  max-width: 1100px;
}

.tab-list ul {
    list-style: none;
    text-align: center;
}

.table-responsive {
    overflow-x: auto;
}
.table > tbody > tr > th {
    padding-right: 20px;
    vertical-align: middle;
    line-height: 1.42857;
    font-size: 14px;
}
.table > tbody > tr > td {
    border: 1px solid #ddd !important;
    height: 46px;
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

table thead {
    font-size: 14px;
}

table th:first-child {
    border-style: none !important;
}

th {
  text-align: center;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table img {
  padding-top: 10px;
  padding-bottom: 8px;
  text-align: center;
}

footer .btn:hover {
  text-decoration: none;
  color: white;
  background-color: gray;
}

footer a {
  color: inherit;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 0;
}

footer p {
  font-size: 14px;
  margin-top: 20px;
}

footer .btn{
  margin-top: 5px;
}

footer input[type^="email"]{
  width: 265px;
  font-size: 17px;
}

.form-inline{
  display: inline-block;
  vertical-align: middle;
}

.form-control{
  display: inline;
  width: 200px;
  border-color: #479946;
  border-radius: 0;
  padding: 0 5px 0 5px;
}
.font-inherit{
  font-family: inherit;
}
#startCodeClub{
  font-size: 27px;
  font-weight: normal;
}
#startCodeClub a:hover{
  color: #357735;
}
/*
#register-description {
  max-width: 190px;
}
*/
.width-200{
  max-width: 197px;
}

#apply-description {
  width: 250px;
}
#endfooter {
  width: 100%;
  height: 50px;
}
#endfooter p{
  font-size: 18px;
  padding-top: 12px;
  padding-left: 50px;
}

#contact-email{
  max-width: 670px;
  min-width: 250px;
  margin: auto;
  font-size: 14px;
  line-height: 2.5;
}
#contact-email a{
  color: #85bfd3;
  text-decoration: none;
}
#contact-email a:hover{
  color: #4994a5;
  text-decoration: none;
}

#bg-howWeWork{
  position: absolute;
  width: 50px;
  height: 50px;
}


#mc-embedded-subscribe{
  margin: 0;
}

/* FRENCH */

#french:before {
  background-color: green;
}

#french {
  color: red;
  background-color: green;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/* offset anchor for fixed header */

.offset:before { 
  display: block;
   content: " ";
    height: 150px;      /* Give height of your fixed element */
      margin-top: -150px; /* Give negative margin of your fixed element */      
     visibility: hidden; 
}

