.text-uppercase {
  text-transform: uppercase;
}
.text-italic {
  font-style: italic;
}
.custom-row-faq {
  width: 90%;
  margin:auto;
  height: auto;
}
.padding-left-s {
  padding-left: 5%;
}
.padding-top-l {
  padding-top: 75px;
}
.margin-bot-xl {
  margin-bottom: 50px;
}
.margin-top-m {
  margin-top: 15px;
}
.margin-top-s {
  margin-top: 10px;
}
.font-normal {
  font-weight: normal;
}
.margin-top-xl {
  margin-top: 30px;
}
.padding-top-xl {
  padding-top: 50px;
}
.btn-alt-link {
    background-color: inherit;
    padding-left: 23px;
    padding-right: 23px;
    font-weight: 700;
    color: #339933;
}
.text-black {
  color: black;
}
.a-hover-off:hover {
  text-decoration: none;
  color: black;
}
.a-hover-underline:hover {
  color: white;
  text-decoration: underline;
}
.text-right {
  text-align: right;
}
.algin-center {
  margin: auto;
  text-align: center;
}
.ul-style-off {
  list-style-type: none;
}
.custom-ul-resources {
  margin: auto;
  text-align: center;
  width: 80%;
  line-height: 40px;
}
.custom-border-green-disck {
  padding: 10px;
  margin: 20px;
}
.custom-border-green-disck:hover {
  border: 2px solid;
  font-size: 14px;
  text-decoration: none;
  border-radius: 24px;
  background-color: none;
  padding: 10px;
  margin: none;
  color: green;
}

.white-space-nowrap {
  white-space: nowrap;
}
.bg-lightgray {
  background-color: #f3f4f7;
}
.bg-white {
  background-color: white;
}
.custom-section-introtoscratch {
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 10px;
}
.article-img {
  padding: 1.875em;
  max-width: 100%;
}
.custom-a-hover:hover {
  text-decoration: underline;
  color: inherit;
}
.text-thin {
  font-weight: thin;
}
.custom-a-back {
  color: white;
  margin-left: 3%;
  margin-top: 3%;
}
.custom-img-center {
  padding: 1.875em;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.custom-box-code {
  padding: 1%;
  font-weight: 100;
  border: solid;
  border-width: .1px;
  border-radius: 8px;
}
.bg-transparent {
  background-color: transparent;
}
.text-heavy {
  font-weight: 900;
}
.text-capitalize {
  text-transform: capitalize;
}
.custom-pre-code {
  display: block;
  padding: auto;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.custom-hover-text-green:hover {
  color: #479946;
}
.margin-custom-30 {
  margin-top: -30px;
}
.heading {
  font-size: 6.25rem;
  font-weight: 700;
  box-sizing: border-box;
}
.custom-resources-img1 {
  max-width: 95px;
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
.custom-resources-img2 {
  width: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text-normal {
  font-weight: thin;
}
